html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    vertical-align: top;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    /* font-family: Arial, sans-serif; */
    line-height: 1.6;
    padding: 20px;
    background-color: white;
    margin: 5%;
}

h1 {
    color: black
}

p {
    margin: 20px 0;
}

.title-footer {
    font-size: large;
}

.title-disclaimer {
    font-size: 70%;
}

a {
    color: #055;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: circle;
    /* padding: 0; */
}

li {
    padding: 5px 0;
}

.about-container {
    text-align: left;
    /* margin-left: 0px; */
    padding-top: 20px;
    padding-left: 0px
}

.content {
    display: flex;
    flex-direction: row;
    /* side-by-side layout */
    justify-content: left;
    align-items: left;
    gap: 20px;
    /* space between the image and the text */
    margin-top: 20px;

}

.boxed {
    /* Make border rounded below */
    border-radius: 5px;
    border: 2px solid gray;
    margin: 5px;
    padding: 5px;
}

.post {
    justify-content: left;
    align-items: left;
}

.profile-photo {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.writings-list {
    text-align: left;
    /* margin-left: 0px;
    padding-top: 20px;
    padding-left: 0px */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .writings {
        flex-direction: column;
    }

    .profile-photo {
        width: 100%;
        /* full width on small screens */
        max-width: 400px;
        /* limits photo size even when full width */
    }

    .description {
        text-align: left;
        /* centers text on small screens */
    }

    .writings-list {
        flex-direction: column;
    }
}